body{
    background-color: rgb(245, 235, 222);
}

.bloque-enunciado{
    margin: auto;
    margin-top: 100px;
    width: 800px;
    text-align: center;
}
.titulo-ejemplo{
    text-align: center;
}
.ejemplo-imagen{
    width: 60%;
    height: 60%;
    margin-bottom: 50px;
}

.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
}

.titulo-seccion{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    justify-content: center;
}

.contenedor-alternativa{
    display:flex;
    justify-content: center;
    align-items: center;
}
.imagen-alternativa{
    width: 15%;
    height: 15%;
    text-align: center;
    margin: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagen-alternativa:hover{
    
    cursor: pointer;
}

.invert-colors {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}

.content {
    margin-left: 0px;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
  }
  
  th, td {
    border: 3px solid #000000;
    text-align: center;
    padding: 5px;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .true-false-btn {
    position: relative;
    display: inline-block;
  }
  
  .option-image {
    width: 50px; 
    height: 50px; 
  }
  
  .true-false-btn::before {
    content: 'O';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 60px; 
    color: red; 
    display: none;
  }
  
  input[type="radio"]:checked + .true-false-btn::before {
    display: block;
  }

  .siguiente{
    text-decoration: none;
    position: fixed;
    float: right;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 30px;
    cursor: pointer;
    border-radius: 14px;
    border: 2px solid #2C87C2;
}