body{
    background-color: rgb(245, 235, 222);
}

.bloque-enunciado{
    margin: auto;
    margin-top: 20px;
    width: 800px;
    text-align: center;
}

h1 {
    display: inline-block; 
    padding: 10px; 
    border-radius: 10px;
}
.titulo-ejemplo{
    text-align: left;
    margin-top: 70px;
}
.ejemplo-imagen{
    width: 25%;
    height: 25%;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

.titulo-seccion{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.container{
    justify-content: center;
}

.contenedor-alternativa{
    display:flex;
    justify-content: center;
    align-items: center;
}
.imagen-alternativa{
    width: 15%;
    height: 15%;
    text-align: center;
    margin: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagen-alternativa:hover{
    
    cursor: pointer;
}

.invert-colors {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}
