body{
    background-color: rgb(245, 235, 222);
}

.bloque-enunciado{
    margin: auto;
    margin-top: 50px;
    width: 800px;
    text-align: center;
}
.titulo-ejemplo{
    text-align: center;
}
.ejemplo-imagen{
    width: 70%;
    height: 70%;
    margin-bottom: 200px;
}

.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
}

.titulo-seccion{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    justify-content: center;
}

.contenedor-alternativa{
    display:flex;
    justify-content: center;
    align-items: center;
}
.imagen-alternativa{
    width: 15%;
    height: 15%;
    text-align: center;
    margin: 4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imagen-alternativa:hover{
    
    cursor: pointer;
}

.invert-colors {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}

.siguiente{
    text-decoration: none;
    position: fixed;
    float: right;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}
.atras{
    text-decoration: none;
    position: fixed;
    float: left;
    left: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
