body{
    background-color: rgb(245, 235, 222);
}

.titulo-seccion{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.bloque-enunciado{
    margin: auto;
    margin-top: 150px;
    width: 600px;
    text-align: center;
}

.invert-colors {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}

.siguiente{
    text-decoration: none;
    position: fixed;
    float: right;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}
.atras{
    text-decoration: none;
    position: fixed;
    float: left;
    left: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table, th, td input {
    width: 20px;
    height: 20px;
}

table, tr, th p{
    width: 40px;
}

th, td {
    padding: 10px;
}