body{
    background-color: rgb(245, 235, 222);
}

.bloque-enunciado{
    margin: auto;
    margin-top: 100px;
    width: 800px;
    text-align: center;
}
.titulo-ejemplo{
    text-align: center;
}
.ejemplo-imagen{
    width: 25%;
    height: 25%;
    margin-bottom: 50px;
}

.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
}

.titulo-seccion{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    justify-content: center;
}

.contenedor-alternativa{
    display:flex;
    justify-content: center;
    align-items: center;
}
.imagen-alternativa{
    width: 15%;
    height: 15%;
    text-align: center;
    margin: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
}