body{
    background-color: rgb(245, 235, 222);
}

.bloque-enunciado{
    margin: auto;
    margin-top: 100px;
    width: 800px;
    text-align: center;
}
.titulo-ejemplo{
    text-align: center;
}
.ejemplo-imagen{
    width: 25%;
    height: 25%;
    margin-bottom: 50px;
}

.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
}

.titulo-seccion{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    justify-content: center;
}

.contenedor-alternativa{
    display:flex;
    justify-content: center;
    align-items: center;
}
.imagen-alternativa{
    width: 15%;
    height: 15%;
    text-align: center;
    margin: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagen-alternativa:hover{
    
    cursor: pointer;
}

.invert-colors {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}

.sidebar {
    background-color: #ffffff;
    width: 200px;
    height: 335px;
    position: fixed;
    border-radius: 14px;
    border: 1px solid #2C87C2;
    top: 100px;
    left: 0;
    transition: transform 0.3s ease-in-out; 
    transform: translateX(-250px); 
}

.sidebar.open {
    transform: translateX(0); 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li div {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.sidebar ul li div:hover {
    cursor: pointer;
}

/* Estilos del botón */
#toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
    transition: transform 0.3s ease;
}
#toggleButton:hover {
    transform: scale(1.1);
}

.content {
    margin-left: 0px;
    padding: 20px;
}