body{
    background-image:url("../Imagenes/index/Fondo.png");
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}

.contenedor-titulos-index{

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    margin-left: 5%;
    float: left;
    text-align: center;
}

.invertir-color {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}

.siguiente{
    text-decoration: none;
    position: fixed;
    float: right;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}

.formulario{
    text-align: left;
    margin: 0;
    padding: 10px 0;
    padding-left: 220;
}

.formulario label{
    float: left;
    text-align: right;
    margin-left: 50px;
    width: 200px;
}

.formulario input[type="text"]{
    width: 220px;
    margin-left: 20px;
    border: 1px solid #000000;
    background: transparent;
}

.formulario input[type="date"],
.formulario input[type="number"]{
    width: 100px;
    margin-left: 20px;
    border: 1px solid #000000;
    background: transparent;
}

#botones {
    margin-left: 230px;
    text-align: left;
}
.formulario input[type="submit"] {
    background-color: #1fc8d4;
    color: #000000;
    padding: 20px 20px;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.formulario input[type="submit"]:hover {
    background-color: #448ab9;
}
.formulario input[type="submit"]:active {
    background-color: #003c80;
    transform: scale(0.95);
}