body{
    background-color: rgb(245, 235, 222);
}

.bloque-enunciado{
    margin: auto;
    margin-top: 100px;
    width: 800px;
    text-align: center;
}
.titulo-ejemplo{
    text-align: center;
    size: 600px;
}
.ejemplo-imagen{
    width:70%;
    height: 70%;
    margin-bottom: 1000px;
    margin: auto;
    margin-top: 100px;
}

.contenedor-imagen-pregunta{
    margin: auto;
    margin-left: 220px;
    justify-content: center;
}

.imagen-pregunta{
    margin-bottom: 100px;
    margin: 100px;
    margin-top: 100px;
}

.enunciado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    text-align: center;
    margin: auto;
    width: 800px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

.titulo-seccion{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    justify-content: center;
}

.contenedor-alternativa{
    display:flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}


.imagen-alternativa{
    width: 10%;
    height: 10%;
    text-align: center;
    margin: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagen-alternativa2{
    width: 8%;
    height: 8%;
    text-align: left;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;

}

.imagen-alternativa:hover{
    
    cursor: pointer;
}

.invert-colors {
    -webkit-filter: invert(100%);
   filter: invert(100%);
}

.sidebar {
    background-color: #ffffff;
    width: 200px;
    height: auto;
    position: fixed;
    border-radius: 14px;
    border: 1px solid #2C87C2;
    top: 100px;
    left: 0;
    transition: transform 0.3s ease-in-out; 
    transform: translateX(-250px); 
}

.sidebar.open {
    transform: translateX(0); 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.sidebar ul li a:hover {
    cursor: pointer;
}

.sidebar ul li a:hover {
    cursor: pointer;
}

/* Estilos del botón */
#toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
    transition: transform 0.3s ease;
}
#toggleButton:hover {
    transform: scale(1.1);
}

.content {
    margin-left: 0px;
    padding: 20px;
}


.siguiente{
    text-decoration: none;
    position: fixed;
    float: right;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}
.atras{
    text-decoration: none;
    position: fixed;
    float: left;
    left: 10px;
    bottom: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #2C87C2;
}